.advantages {
  background: $site_bg;
  &__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    padding: 80px 0 20px 0;
    @media (max-width: $desktop) {
      padding: 80px 0 20px 0;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
      padding: 45px 0 25px 0;
    }
  }
  &__info {
    grid-column-start: 2;
    grid-column-end: 8;

    @media (max-width: $desktop) {
      grid-column-start: 2;
      grid-column-end: 10;
    }
    @media (max-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__title {
    position: relative;
    @include text-style_pro(600, 38, 44, m);
    color: $gray;
    letter-spacing: 1px;

    @media (max-width: $desktop) {
      @include text-style(600, 22, 25);
      letter-spacing: 0.1px;
    }
    &::before {
      @include line(110, 5);
      top: -35px;
      @media (max-width: $tablet) {
        top: -20px;
      }
    }
  }
  &__text {
    @include text-style_pro(300, 18, 29, os);
    padding-top: 20px;
    @media (max-width: $desktop) {
      @include text-style(300, 15, 25);
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
// я не стал выносить стили карточки в отдельный scss файл что бы избежать сильного дробления кода по папкам
.card-advantages {
  display: flex;
  align-items: center;
  max-width: 450px;

  z-index: 2;
  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: flex-start;
    //max-width: 270px;
  }
  @media (max-width: $tablet) {
    max-width: 100%;
    flex-direction: row;
  }
  //позиционирование карточек
  //карточка
  &_practice {
    margin-top: 40px;
    grid-column-start: 2;
    grid-column-end: 7;
    @media (max-width: $desktop) {
      margin-top: -10px;
    }
    @media (max-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 5;
      margin-top: 10px;
    }
  }
  //карточка
  &_spanish-doctor {
    margin-top: 40px;
    grid-column-start: 7;
    grid-column-end: 12;
    @media (max-width: $desktop) {
      margin-top: -10px;
    }
    @media (max-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  //карточка
  &_experience {
    margin-top: 50px;
    grid-column-start: 2;
    grid-column-end: 7;
    @media (max-width: $desktop) {
      margin-top: -10px;
    }
    @media (max-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  //карточка
  &_insurance {
    margin-top: 50px;
    grid-column-start: 7;
    grid-column-end: 12;
    @media (max-width: $desktop) {
      margin-top: -10px;
    }
    @media (max-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }

  //бокс с лого
  &__box-logo {
    position: relative;
    width: 35px;
    z-index: 2;
    @media (max-width: $desktop) {
      left: 20px;
      top: 20px;
    }
    @media (max-width: $tablet) {
      position: static;
    }
  }
  &__logo {
    // логотип
    width: 70px;
    height: 70px;
    @media (max-width: $desktop) {
      width: 50px;
      height: 50px;
    } // логотип
    &_practice {
      @include sprite-estimate_big(0);
      @media (max-width: $desktop) {
        @include sprite-estimate_little(0);
      }
    } // логотип
    &_spanish-doctor {
      @include sprite-estimate_big(1);
      @media (max-width: $desktop) {
        @include sprite-estimate_little(1);
      }
    } // логотип
    &_experience {
      @include sprite-estimate_big(2);
      @media (max-width: $desktop) {
        @include sprite-estimate_little(2);
      }
    } // логотип
    &_insurance {
      @include sprite-estimate_big(3);
      @media (max-width: $desktop) {
        @include sprite-estimate_little(3);
      }
    }
  }

  &__desc {
    // вся текстовая информация
    background: $white;
    // height: 145px;
    padding: 34px 40px 36px 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    @media (max-width: $desktop) {
      padding: 37px 40px 46px 20px;
      width: 100%;
    }
    @media (max-width: $tablet) {
      background: $site-bg;
      box-shadow: none;
      padding: 0px 0px 0px 40px;
      height: auto;
      width: 100%;
    }
    /* &_spanish-doctor {
        padding: 35px 40px 12px 60px; //надеюсь есть поумнее способ выставить всё по размеру
        @media (max-width: $desktop) {
          padding: 37px 40px 25px 20px;
        }
        @media (max-width: $tablet) {
          padding: 0px 0px 0px 40px;
          background: $site-bg;
        }
      } */
  }

  &__title {
    @include text-style_pro(600, 18, 21, m);
    color: $gray;
    @media (max-width: $desktop) {
      @include text-style(600, 14, 17);
    }
  }
  &__text {
    @include text-style_pro(300, 16, 24, os);
    color: $gray;
    padding-top: 7px;
    @media (max-width: $desktop) {
      @include text-style(300, 14, 21);
    }
    @media (max-width: $tablet) {
      padding-top: 5px;
    }
  }
}
