.biography-dr-Osvaldo {
  background: $site_bg;
  &__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 85px 0 20px 0;
    @media (max-width: $desktop) {
      padding: 49px 0 20px 0;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
      padding: 35px 0 20px 0;
    }
  }
  &__avatar {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 518px;
    z-index: 2;
    @media (max-width: $big-desktop) {
      width: 307px;
      max-height: 217px;
    }
    @media (max-width: $tablet) {
      max-height: 190px;
      max-width: 268px;
      width: 100%;
    }

    &_bg {
      position: relative;
      display: flex;
      justify-content: center;
      grid-column: 1/7;
      background: url("./img/bg-biography.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      max-width: 540px;
      max-height: 340px;

      box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
      border-radius: 10px;
      z-index: 1;
      @media (max-width: $big-desktop) {
        max-height: 201px;
        height: 70%;
      }
      @media (max-width: $desktop) {
        max-height: 201px;
        max-width: 320px;
      }
      @media (max-width: $tablet) {
        grid-column: 1/5;
        height: 176px;
        max-width: 100%;
      }
    }
  }
  &__info {
    grid-column-start: 7;
    grid-column-end: 13;
    margin-top: 35px;
    z-index: 2;
    @media (max-width: $desktop) {
      margin-top: 22px;
    }
    @media (max-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  &__title {
    position: relative;

    @include text-style-pro(600, 38, 44, m);
    color: $gray;
    letter-spacing: 1px;
    @media (max-width: $desktop) {
      @include text-style(600, 22, 25);
      letter-spacing: 0.01px;
    }
    &::before {
      @include line(110, 5);
      top: -35px;
      @media (max-width: $desktop) {
        top: -23px;
      }
    }
  }
  &__text {
    @include text-style-pro(300, 18, 29, os);
    color: $gray;
    padding-top: 20px;

    @media (max-width: $desktop) {
      @include text-style(300, 15, 25);
    }

    &_desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &_mobile {
      display: none;
      @media (max-width: $tablet) {
        display: inline-block;
      }
    }
  }
  &__button-mobile {
    @include text-style-pro(300, 11, 15, os);
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    color: $blue;

    &:hover {
      color: $blue;
    }
    @media (max-width: $tablet) {
      display: inline-block;
    }
  }
  &__blot-bg {
    background: url("./img/blot-biogtaphy.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 0px;
    top: 3570px;
    height: 1226px;
    width: 600px;
    display: none;
    @media (max-width: $desktop) {
      top: 2650px;
      width: 652px;
      height: 889px;
    }
  }
}
