.biography-dr-Osvaldo {
  background: $site_bg;
  &__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 55px 0 50px 0;
    @media (max-width: $desktop) {
      padding: 32px 0 35px 0;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
      padding: 25px 0 20px 0;
    }
  }
  &__avatar {
    border-radius: 10px;
    width: 100%;
    max-width: 540px;
    z-index: 2;
    grid-column: 1/7;
    @media (max-width: $desktop) {
      max-width: 320px;
    }
    @media (max-width: $tablet) {
      grid-column: 1/5;
      max-width: 100%;
      width: 100%;
    }
  }

  &__info {
    grid-column-start: 7;
    grid-column-end: 13;
    margin-top: 65px;
    z-index: 2;
    @media (max-width: $desktop) {
      margin-top: 40px;
    }
    @media (max-width: $tablet) {
      margin-top: 25px;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  &__title {
    position: relative;

    @include text-style-pro(600, 38, 44, m);
    color: $gray;
    letter-spacing: 1px;
    @media (max-width: $desktop) {
      @include text-style(600, 22, 25);
      letter-spacing: 0.01px;
    }
    &::before {
      @include line(110, 5);
      top: -35px;
      @media (max-width: $desktop) {
        top: -23px;
      }
    }
  }
  &__text {
    @include text-style-pro(300, 18, 29, os);
    color: $gray;
    padding-top: 20px;

    @media (max-width: $desktop) {
      @include text-style(300, 15, 25);
    }
    @media (max-width: $tablet){
      padding-top: 10px;
    }

    &_desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &_mobile {
      display: none;
      @media (max-width: $tablet) {
        display: inline-block;
      }
    }
  }
  &__button-mobile {
    @include text-style-pro(300, 11, 15, os);
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    color: $blue;

    &:hover {
      color: $blue;
    }
    @media (max-width: $tablet) {
      display: inline-block;
    }
  }
  &__blot-bg {
    background: url("./img/blot-biogtaphy.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 0px;
    top: 3570px;
    height: 1226px;
    width: 600px;
    display: none;
    @media (max-width: $desktop) {
      top: 2650px;
      width: 652px;
      height: 889px;
    }
  }
}
