.card-testimonials {
  box-shadow: 0px 0px 20px rgba(118, 157, 202, 0.15);
  max-width: 360px;
  min-height: 360px;
  background: $slide-testimonials_bg;
  border-radius: 10px;

  &:nth-child(even) {
    margin-right: 20px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &:nth-child(odd) {
    margin-right: 10px;
  }
  @media (max-width: 1200px) {
    width: 340px;
  }
  @media (max-width: $big-desktop) {
    min-height: 330px;
  }
  @media (max-width: $desktop){
    min-height: 280px;
  }

  @media (max-width: $tablet) {
    width: 280px;
    min-height:auto;
  }

  &__content {
    padding: 40px 40px 32px 40px;
    @media (max-width: 1200px) {
      padding: 30px 20px 32px 20px;
    }
    @media (max-width: $tablet) {
      padding: 25px 20px 32px 20px;
    }
  }
  &__rating {
    display: flex;
    &-stars {
      @include sptite-manual_b(117, 66);
      background-size: 296px 508px;
      cursor: pointer;
      width: 22px;
      height: 22px;
      margin-left: 3px;
    }
  }
  &__desc {
    @include text-style_pro(300, 16, 26, os);
    padding-top: 20px;
    color: $gray;
    text-align: left;

    @media (max-width: $desktop) {
      @include text-style(300, 14, 21);
    }
    @media (max-width: $tablet) {
      padding-top: 15px;
    }
  }
  &__first-name {
    @include text-style_pro(600, 18, 29, os);
    padding-top: 20px;
    color: $gray;
    text-align: left;
    @media (max-width: $desktop) {
      @include text-style(600, 16, 20);
    }
  }
}
