.card-services {
  z-index: 2;
  max-width: 450px;
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);

  @media (max-width: $desktop) {
    max-height: auto;
    min-height: auto;
  }
  @media (max-width: $tablet) {
    max-width: 100%;
  }

  &:nth-child(odd) {
    grid-column: 2/7;

    @media (max-width: $tablet) {
      grid-column: 1/5;
      margin: 0;
    }
    max-height: 470px;
    @media (max-width: $desktop) {
      max-height: 403px;
    }
  }

  &:nth-child(even) {
    grid-column: 7/12;
    margin-top: 152px;
    min-height: 470px;

    @media (max-width: 1300px) {
      min-height: auto;
    }
    @media (max-width: $big-desktop) {
      margin-top: 158px;
    }
    @media (max-width: $tablet) {
      grid-column: 1/5;
      margin: 0;
    }
  }

  &:nth-child(2n + 3) {
    margin-top: -104px;

    @media (max-width: $big-desktop) {
    }
    @media (max-width: $desktop) {
    }
    @media (max-width: $tablet) {
      margin: 0;
    }
  }

  &:nth-child(1) {
    margin-top: -2px;

    @media (max-width: $desktop) {
      margin-top: 0px;
    }
    @media (max-width: $tablet) {
      margin-top: 5px;
    }
  }

  &:nth-child(3) {
    @media (max-width: $desktop) {
      max-height: 371px;
    }
    @media (max-width: $tablet) {
      grid-row: 2/2;
    }
  }

  &__img {
    width: 100%;
    height: auto;

    @media (max-width: 335px) {
      max-height: 100px;
    }
  }

  &__title {
    @include text-style_pro(600, 24, 28, m);
    padding: 30px 70px 0 40px;
    color: $gray;
    letter-spacing: 1px;

    @media (max-width: $desktop) {
      @include text-style(600, 18, 21);
      padding: 20px 40px 0 20px;
      letter-spacing: 0.5px;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__text {
    @include text-style_pro(300, 16, 24, os);
    color: $gray;
    padding: 10px 70px 0 40px;
    @media (max-width: 1300px) {
      padding: 10px 50px 0 40px;
    }
    @media (max-width: $desktop) {
      @include text-style(300, 14, 21);
      padding: 10px 20px 0 20px;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px 40px 40px;

    @media (max-width: $desktop) {
      padding: 20px 10px 30px 20px;
    }
    @media (max-width: $mobile) {
      padding: 13px 50px 16px 20px;
    }
  }

  &__link {
    @include text-style_pro(300, 13, 18, os);
    color: $blue;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 10px;
    margin-right: 20px;

    @media (max-width: $desktop) {
      @include text-style(300, 11, 15);
      padding-bottom: 15px;
    }
    @media (max-width: $tablet) {
      padding: 0;
    }
    &:hover {
      color: $blue;
    }

    &_desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }

    &_mobile {
      display: none;
      text-transform: none;
      @media (max-width: $mobile) {
        @include text-style(600, 18, 21);
        letter-spacing: 0.7px;
        display: inline-block;
      }
    }
  }
}
