//спрайты
@mixin sptite-manual($x, $y) {
  background: url("./img/Sprite.png");
  background-repeat: no-repeat;
  background-position: (($x) * (-1px)) (($y) * (-1px));
}
@mixin sprite-social($x) {
  background: url("./img/Sprite.png");
  background-repeat: no-repeat;
  background-position: (($x) * (-30px)) -68px;
}
@mixin sprite-estimate_big($x) {
  background: url("./img/Sprite.png");
  background-repeat: no-repeat;
  background-position: (($x) * (-72px)) -197px;
}
@mixin sprite-estimate_little($x) {
  background: url("./img/Sprite.png");
  background-repeat: no-repeat;
  background-position: (($x) * (-52px)) -379px;
}
// стили для текста
@mixin text-style($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size + (px);
  line-height: $line-height + (px);

  &:hover {
    text-decoration: none;
  }
}
@mixin text-style_pro($font-weight, $font-size, $line-height, $font-family) {
  font-weight: $font-weight;
  font-size: $font-size + (px);
  line-height: $line-height + (px);
  margin: 0px;
  &:hover {
    text-decoration: none;
  }
  @if $font-family==m {
    font-family: $font-Montserrat;
  } @else if $font-family==os {
    font-family: $font-Open-Sans;
  }
}

@mixin line($width, $height) {
  height: $height + (px);
  width: $width + (px);
  background-color: $blue;
  content: "";
  border-radius: 10px;
  position: absolute;
  @media (max-width: $desktop) {
    height: 3px;
    width: 80px;
  }
}
