.navigation {
  display: flex;
  align-items: center;
  &__link {
    @include text-style_pro(300, 13, 18, os);
    color: $gray;
    text-transform: uppercase;
    white-space: nowrap; 
    z-index: 2;
    transition: 0.3s;

    @media (max-width: $desktop) {
      @include text-style(300, 11, 15);
    }
    &:hover {
      
      color: $blue;
    }
    &:nth-child(2) { 
      margin-left: 30px;
      @media (max-width: $desktop) {
        margin-left: 20px;
      }
    }
    &:nth-child(3) {
      margin-left: 30px;
      @media (max-width: $desktop) {
        margin-left: 20px;
      }
    }
    &:nth-child(4) {
      margin-left: 30px;
      @media (max-width: $desktop) {
        margin-left: 20px;
      }
    }
  }
}
