.services {
  background: $site_bg;

  &__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    padding-top: 40px;
    grid-row-gap: 40px;

    @media (max-width: $desktop) {
      padding-top: 42px; 
      grid-row-gap: 30px;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 20px;
      padding-top: 29px;
    }
  }
  &__card-block {
    display: grid;
    grid-column: 1/13;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    @media (max-width: $desktop) {
      grid-row-gap: 30px;
    }
    @media (max-width: $mobile) {
      grid-column: 1/5;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 20px;
    }
  }
  &__title {
    z-index: 2;
    position: relative;
    grid-column: 2/13;
    grid-row: 1/1;
    @include text-style_pro(600, 38, 44, m);
    letter-spacing: 1px;
    color: $gray;
    @media (max-width: $desktop) {
      @include text-style(600, 22, 25);
      letter-spacing: 0.1px;
    }
    @media (max-width: $tablet) {
      grid-column: 1/5;
    }
    &::before {
      @include line();
    }
  }
  &__blot-bg {
    width: 590px;
    right: 0;
    top: 2100px;
    height: 1265px;
    background: url("./img/blot-services.png");
    z-index: 0;
    background-repeat: no-repeat;
    @media (max-width: $desktop) {
      right: 0;
      width: 300px;
      height: 910px;
      top: 1535px;
      background-size: 400px 900px;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
}
