.testimonials {
  background: $site_bg;
  &__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    padding: 50px 0;
    @media (max-width: $desktop) {
      padding: 35px 0;
    }
    @media (max-width: $tablet) {
      padding: 35px 0 25px 0;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__title {
    position: relative;
    @include text-style_pro(600, 38, 44, m);
    grid-column: 2/4;
    grid-row: 1/1;
    @media (max-width: $desktop) {
      @include text-style(600, 22, 25);
    }
    @media (max-width: $tablet) {
      grid-column: 1/3;
    }
    &::before {
      @include line(110, 5);
      position: absolute;
      content: "";
      border-radius: 10px;
    }
    &::after {
      position: absolute;
      @include sptite-manual(0, 99);
      content: "";
      width: 130px;
      height: 97px;
      top: 80px;
      @media (max-width: 1300px) {
        display: none;
      }
    }
  }
  &__slide-container {
    grid-column: 4/13;
    grid-row: 2/2;
    padding: 40px 0;
    @media (max-width: 1300px) {
      grid-column: 2/12;
    }
    @media (max-width: 870px) {
      grid-column: 1/13;
    }
  }
}

.slide-testimonials {
  width: 360px;
  height: 360px;
  background: $slide-testimonials_bg;
  border-radius: 10px;
  @media (max-width: 1200px) {
    width: 340px;
    height: 350px;
  }
  @media (max-width: $big-desktop) {
    width: 300px;
    height: 340px;
  }
  @media (max-width: $desktop) {
    width: 300px;
    height: 280px;
  }
  @media (max-width: $tablet) {
    width: 280px;
    height: 295px;
  }
  &__desktop {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__content {
    padding: 40px 40px 32px 40px;
    @media (max-width: 1200px) {
      padding: 30px 20px 32px 20px;
    }
  }
  &__rating {
    display: flex;
    &-stars {
      @include sptite-manual(120, 68);
      cursor: pointer;
      width: 22px;
      height: 22px;
      margin-left: 3px;
    }
  }
  &__desc {
    @include text-style_pro(300, 16, 26, os);
    padding-top: 20px;
    color: $gray;
    text-align: left;

    @media (max-width: $desktop) {
      @include text-style(300, 14, 21);
    }
  }
  &__first-name {
    @include text-style_pro(600, 18, 29, os);
    padding-top: 20px;
    color: $gray;
    text-align: left;
    @media (max-width: $desktop) {
      @include text-style(600, 16, 20);
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
