.biography-dr-Osvaldo {
  height: 1000px;
  &__block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
  &__avatar {
    &_bg {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }
  &__info {
    position: relative;
    grid-column-start: 7;
    grid-column-end: 13;
  }
  &__title {
    @include text-style-pro(600, 38, 44, m);
    color: $gray;
    letter-spacing: 1px;
    @media (max-width: $tablet) {
      @include text-style(600, 22, 25);
      letter-spacing: 0.5px;
    }
  }
  &__text {
    @include text-style-pro(300, 18, 29, os);
    color: $gray;
    @media (max-width: $tablet) {
      @include text-style(300, 15, 25);
    }
  }
}
