<section class="advantages">
        <div class="container">
          <div class="advantages__block">
            <div class="advantages__info">
              <h2 class="advantages__title">Advantages</h2>
              <p class="advantages__text">Healthy Spine Family Chiropractic was created for the necessity of custom made
                chiropractic treatment for all ages.</p>
            </div>
     
            @@include('./../components/card-advantages.html',{
              "card":"practice",
              "title":"Multi Disciplinary Practice",
              "text":"We offer chiropractic, massage and acupuncture."
            })
    
            @@include('./../components/card-advantages.html',{
              "card":"spanish-doctor",
              "title":"The Doctor Speaks Spanish",
              "text":"We strive to provide complete care for our patients. We speak English and Spanish."
            })
            @@include('./../components/card-advantages.html',{
              "card":"experience",
              "title":"Over 10 Years of Experience",
              "text":"The Doctor has 10+ years of experience in the chiropractic."
            })
            @@include('./../components/card-advantages.html',{
              "card":"insurance",
              "title":"Insurance",
              "text":"We accept most insurance and file the claims for you."
            })
    
          </div>
        </div>
      </section>
    