<section class="biography-dr-Osvaldo section">
  <div class="container">
    <div class="biography-dr-Osvaldo__block">

      <img class="biography-dr-Osvaldo__avatar" src="./img/dr-Osvaldo.png" alt="">

      <article class="biography-dr-Osvaldo__info">
        <h2 class="biography-dr-Osvaldo__title">Dr. Osvaldo «Ozzie» Gratacos</h2>
        <p class="biography-dr-Osvaldo__text biography-dr-Osvaldo__text_desktop">Dr. Osvaldo “Ozzie” Gratacos is a
          licensed chiropractor serving the
          Thornton and surrounding communities. Dr. Gratacos graduated from Palmer College of Chiropractic in Florida.
          After graduating, Dr. Gratacos went back to his home in Puerto Rico to open a practice for 4 years before
          practicing in Lakewood, Colorado. He is bilingual (spanish/english). Ozzie is certified in extremity
          adjustments, treatment in golf related injuries, and Cox technique for herniated disc. </p>
        <p class="biography-dr-Osvaldo__text biography-dr-Osvaldo__text_mobile">Dr. Osvaldo “Ozzie” Gratacos is a
          licensed chiropractor serving the Thornton and surrounding communities. </p>

        <div class="biography-dr-Osvaldo__button-mobile">View More</div>
      </article>
      <div class="blot-bg biography-dr-Osvaldo__blot-bg"></div>
    </div>
  </div>
</section>