<section class="call-to-action">
  <div class="container">
    <div class="call-to-action__block">

      <div class="spine">
        <div class="spine-oval-bg"></div>
        <div class="spine-img"></div>
        <div class="spine-shadow"></div>
      </div>

      @@include('./../components/card-family-chiropractic.html',{
      "title":"Healthy Spine Family Chiropractic",
      "text":"Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the same.",
      "button":"Get In Touch Now",
      "link":"#"
      })

      <div class="social-network__wrap">
        @@include('./../components/social-network.html')
      </div>

    </div>
  </div>
</section>