<section class="call-to-action section">
  <div class="container">
    <div class="call-to-action__block">

      <article class="call-to-action__info">
        <h1 class="call-to-action__title">Healthy Spine Family Chiropractic</h1>
        <p class="call-to-action__text">Healthy Spine Family Chiropractic was created for the necessity of custom made
          chiropractic treatment for all ages. We understand that not all bodies are the same. </p>
        <a class="button call-to-action__button" href="#">Get In Touch Now</a>
      </article>



      <div class="call-to-action__img">
        <img src="./img/bg-spine.png" class="call-to-action__img-bg">
        <img src="./img/bg-spine_mobile.png" class="call-to-action__img-bg_mobile">
        <img src="./img/spine.png" class="call-to-action__img-spine">
        <div class="call-to-action__shadow"></div>
      </div>


      <div class="call-to-action__wrap-social">
        @@include('./../components/social-network.html')
      </div>

    </div>
  </div>
</section>