<div class="card-testimonials">
  <div class="card-testimonials__content">
    <div class="card-testimonials__rating">
      <div class="card-testimonials__rating-stars"></div>
      <div class="card-testimonials__rating-stars"></div>
      <div class="card-testimonials__rating-stars"></div>
      <div class="card-testimonials__rating-stars"></div>
      <div class="card-testimonials__rating-stars"></div>
    </div>
    <p class="card-testimonials__desc">@@text</p>
    <div class="card-testimonials__first-name">@@name</div>
  </div>
</div>