<article class="card-services">
  <img src="./img/services_@@name.png" class="card-services__img">  
    <h3 class="card-services__title">@@name</h3>
    <p class="card-services__text">@@text</p>
    <div class="card-services__footer">
      <a class="card-services__link card-services__link_mobile" href="#">@@name</a>
      <a class="card-services__link card-services__link_desktop card-services__link_desktop_1" href="#">@@link_desktop_1</a>
      <a class="card-services__link card-services__link_desktop card-services__link_desktop_2" href="#">@@link_desktop_2</a>
      <a class="card-services__link card-services__link_desktop card-services__link_desktop_3" href="#">@@link_desktop_3</a>
      <a class="card-services__link card-services__link_desktop card-services__link_desktop_4" href="#">@@link_desktop_4</a>
    </div>  
</article>