<section class="comprehensive-treatment">
  <div class="container">
    <div class="comprehensive-treatment__block">

      <div class="comprehensive-treatment__img"></div>
      <div class="card-comprehensive-treatment">
        <h2 class="card-comprehensive-treatment__title">Comprehensive Pain Treatment</h2>
        <div class="card-comprehensive-treatment__desc">
          <p class="card-comprehensive-treatment__text">Healthy Spine Family Chiropractic was created for the
            necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are
            the same and so your chiropractic treatment will be tailored to you. Healthy Spine Family
            Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We
            understand that not all bodies are the same and so your chiropractic treatment will be tailored to
            you. Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic
            treatment for all ages. We understand that not all bodies are the same and so your chiropractic
            treatment will be tailored to you.</p>
        </div>
        <a class="card-comprehensive-treatment__button button" href="#">Learn more</a>
      </div>

      <div class=" blot-bg comprehensive-treatment__blot-bg"></div>
    </div>
  </div>
</section>