<section class="contact section">
  <div class="container">
    <div class="contact__block">

      <article class="contact__content">
        <div class="contact__logo"></div>
        <div class="contact__info">
          <h1 class="contact__title">Contact Us Today</h1>
          <p class="contact__text">We are happy to assist you with any questions you may have regarding your
            chiropractic needs or insurance questions. You can make an appointment online or by giving us a call at
          </p>
          <div class="contact__wrap-phone"> @@include('./../components/phone.html')</div>
          <a class="button contact__button" href="#">Make an Appointment</a>
        </div>
      </article>

      <div class="contact__maps">
        <div class="contact__wrap-btn"> <a class="button contact__button contact__button_mars" href="#">Get
            Direction</a>
        </div>
      </div>

    </div>
  </div>
</section>