<header class="header">
  <div class="container">
    <div class="header__block">

      <a class="header__logo" href=#></a>

      <div class="header__navigation">
        @@include('./navigation.html')
        <div class="header__connection">
          <a class="header__phone" href="tel:+(303) 457-2040">(303) 457-2040</a>
          <a class="button header__button" href="#">Schedule Appointment</a>
        </div>
      </div>
      <div class="header__hamburger">
        <div class="header__hamburger-line"></div>
        <div class="header__hamburger-line"></div>
        <div class="header__hamburger-line"></div>
      </div>

    </div>
  </div>
</header>