<section class="services">
  <div class="container">
    <div class="services__block">

      <h2 class="services__title">Services</h2>

      <article class="card-services card-services_chiropractic">
        <img src="./img/services_chiropractic.png" class="card-services__img card-services__img_chiropractic">
        <!--   <img src="./img/services_chiropractic.svg" alt=""> -->
        <div class="card-services__info">
          <h3 class="card-services__title">Chiropractic</h3>
          <div class="card-services__desc">
            <p class="card-services__text">Chiropractic care is a unique science that focuses on restoring and
              maintaining health, while most other healing arts are designed to treat disease.</p>
          </div>
          <div class="card-services__footer">
            <a class="card-services__link card-services__link_mobile" href="#">Chiropractic</a>
            <a class="card-services__link card-services__link_desktop" href="#">Chiropractic Adjustment</a>
            <a class="card-services__link card-services__link_desktop" href="#">Flexion-distraction</a>
            <a class="card-services__link card-services__link_desktop" href="#">Thompson</a>
            <a class="card-services__link card-services__link_desktop" href="#">View All Services</a>
          </div>
        </div>
      </article>

      <article class="card-services card-services_acupuncture">
        <img src="./img/services_acupuncture.png" class="card-services__img card-services__img_acupuncture">
        <!-- <img src="./img/services_acupuncture.svg" alt=""> -->
        <div class="card-services__info card-services__info_acupuncture">
          <h3 class="card-services__title">Acupuncture</h3>
          <div class="card-services__desc">
            <p class="card-services__text">Healthy Spine Family Chiropractic, serves the Thornton and surrounding
              communities and it provides a natural, conservative approach to your health care.</p>
          </div>
          <div class="card-services__footer">
            <a class="card-services__link card-services__link_mobile" href="#">Acupuncture</a>
            <a class="card-services__link card-services__link_desktop" href="#">Cupping</a>
            <a class="card-services__link card-services__link_desktop" href="#">Chinese Herbs</a>
          </div>
        </div>
      </article>

      <article class="card-services card-services_massage">
        <img src="./img/services_massage.png" class="card-services__img card-services__img_massage">
        <!--   <img src="./img/services_massage.svg" alt=""> -->
        <div class="card-services__info card-services__info_massage">
          <h3 class="card-services__title">Massage</h3>
          <div class="card-services__desc">
            <p class="card-services__text">Healthy Spine Family Chiropractic, serves the Thornton and surrounding
              communities and it provides a natural, conservative approach to your health care.</p>
          </div>
          <div class="card-services__footer ">
            <a class="card-services__link card-services__link_mobile" href="#">Massage</a>
            <a class="card-services__link card-services__link_desktop" href="#">Deep Tissue</a>
            <a class="card-services__link card-services__link_desktop" href="#">Trigger Point </a>
            <a class="card-services__link card-services__link_desktop" href="#">Sport Massage </a>
            <a class="card-services__link card-services__link_desktop" href="#">Myofascial Release</a>
          </div>
        </div>
      </article>

      <div class="blot-bg services__blot-bg"></div>

    </div>
  </div>
</section>