<section class="services section">
  <div class="container">
    <div class="services__block">
      <h2 class="services__title">Services</h2>

    <div class="services__card-block">
      @@include('./../components/card-services.html',{
        "name":"Chiropractic",
        "img":"chiropractic",
        "text":"Chiropractic care is a unique science that focuses on restoring and maintaining health, while most other healing arts are designed to treat disease.",
        "link_desktop_1":"Chiropractic Adjustment",
        "link_desktop_2":"Flexion-distraction",
        "link_desktop_3":"Thompson",
        "link_desktop_4":"View All Services"
      })
      @@include('./../components/card-services.html',{
        "name":"Acupuncture",
        "img":"acupuncture",
        "text":"Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and it provides a natural, conservative approach to your health care.",    
        "link_desktop_1":"Cupping",
        "link_desktop_2":"Chinese Herbs",
        "link_desktop_3":"",
        "link_desktop_4":""
      })
      @@include('./../components/card-services.html',{
        "name":"Massage",
        "img":"massage",
        "text":"Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and it provides a natural, conservative approach to your health care.",         
        "link_desktop_1":"Deep Tissue",
        "link_desktop_2":"Trigger Point ",
        "link_desktop_3":"Sport Massage ",
        "link_desktop_4":"Myofascial Release"
      })

      </div>
      <div class="blot-bg services__blot-bg"></div>

    </div>
  </div>
</section>