<div class="slide-testimonials slide-testimonials__@@device">
  <div class="slide-testimonials__content">
    <div class="slide-testimonials__rating">
      <div class="slide-testimonials__rating-stars"></div>
      <div class="slide-testimonials__rating-stars"></div>
      <div class="slide-testimonials__rating-stars"></div>
      <div class="slide-testimonials__rating-stars"></div>
      <div class="slide-testimonials__rating-stars"></div>
    </div>
    <p class="slide-testimonials__desc">@@text</p>
    <div class="slide-testimonials__first-name">@@name</div>
  </div>
</div>