<div class="testimonials">
  <div class="container">
    <div class="testimonials__block">
      <h2 class="testimonials__title">Testimonials</h2>
      <div class="testimonials__slide-container">
        
        <div class="swiper-container">
          <div class="swiper-wrapper">
            
            <div class="swiper-slide">              
              @@include('./../components/slide-testimonials.html',{
                "device":"mobile",
                "name":"Tony D.",
                "text":"I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep..."
              })

              @@include('./../components/slide-testimonials.html',{
                "device":"desktop",
                "name":"Christopher C.",
                "text":"Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!"
              })
            </div>
 
            <div class="swiper-slide">              
                @@include('./../components/slide-testimonials.html',{
                  "device":"mobile",
                  "name":"Tony D.",
                  "text":"I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep..."
                })
  
                @@include('./../components/slide-testimonials.html',{
                  "device":"desktop",
                  "name":"Christopher C.",
                  "text":"Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!"
                })  
            </div>
 
            <div class="swiper-slide">              
                @@include('./../components/slide-testimonials.html',{
                  "device":"mobile",
                  "name":"Tony D.",
                  "text":"I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep..."
                })
  
                @@include('./../components/slide-testimonials.html',{
                  "device":"desktop",
                  "name":"Christopher C.",
                  "text":"Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!"
                })  
            </div>

            
            <div class="swiper-slide">             
                @@include('./../components/slide-testimonials.html',{
                  "device":"mobile",
                  "name":"Tony D.",
                  "text":"I first visited Dr Ozzie after a sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future injuries. Now I know what not to do so I can keep..."
                })
  
                @@include('./../components/slide-testimonials.html',{
                  "device":"desktop",
                  "name":"Christopher C.",
                  "text":"Absolutely amazing staff! I will never go anywhere else to get my back and neck fixed! Came in after an auto accident and had me feeling better by the next week! I will recommend to everyone I know!"
                })  
            </div>
          </div>
         
          <div class="swiper-pagination"></div>
        </div>





      </div>
    </div>
  </div>
</div>